.button {
  &.contained,
  &.primary {
    background-color: blue !important;
    color: white !important;
    
    &:hover {
      background-color: #d50000 !important;
    }
  }

  &.outlined,
  &.secondary {
    border-color: #9c27b0 !important;
    color: #9c27b0 !important;
    
    &:hover {
      background-color: rgba(156, 39, 176, 0.04) !important;
    }
  }

  &.text {
    color: #1976d2 !important;
    
    &:hover {
      background-color: rgba(25, 118, 210, 0.04) !important;
    }
  }

  &:disabled {
    opacity: 0.7 !important;
    cursor: not-allowed !important;
  }
} 